<ion-view view-title="Xinguara" name="createaccount-view">

    <ion-header-bar class="bar-positive">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goEndereco()"></button>
        <h1 class="title">Xinguara</h1>
    </ion-header-bar>

    <ion-content class="padding">

        <form name="createAccountForm" id="createAccountForm">
            <div class="list list-inset ">
                <label class="item item-input">
                    <input type="text" placeholder="E-mail" ng-model="login.email" class="padding">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-model="login.password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirmar Senha" ng-model="login.passwordConfirm">
                </label>
            </div>
        </form>
        <button class="button button-block button-positive  icon-left ion-android-done" ng-click="doCreateAccount(createAccountForm, login)">Cadastrar</button>
    </ion-content>
</ion-view>