<ion-view view-title="Reenvio" name="cupodesconto-view">

    <ion-header-bar class="bar-energized">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goHome()"> </button>
        <h1 class="title">Desconto e Promoção</h1>
    </ion-header-bar>

    <ion-content class="padding">
        
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/carters_hp_topbanner_101116.jpg">
                <h2>Carters 40% OFF</h2>
                <p>Válido até: November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/carters_hp_topbanner_101116.jpg">
                <p>
                    Aqui você descreve como funciona o maravilhoso cupom de desconto
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            
            <div class="item item-avatar">
                <img src="img/carters_hp_topbanner_101116.jpg">
                <h2>Carters 40% OFF</h2>
                <p>Válido até: November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/carters_hp_topbanner_101116.jpg">
                <p>
                    Aqui você descreve como funciona o maravilhoso cupom de desconto
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            
            <div class="item item-avatar">
                <img src="img/carters_hp_topbanner_101116.jpg">
                <h2>Carters 40% OFF</h2>
                <p>Válido até: November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/carters_hp_topbanner_101116.jpg">
                <p>
                    Aqui você descreve como funciona o maravilhoso cupom de desconto
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
        
    </ion-content>
</ion-view>