<ion-view title="Scrollable Tabbed Slide box">
    <ion-content scroll="false">
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <div style="width: 90%;">
                        <ion-content>
                            <ion-list>
                                <ion-item>Item</ion-item>
                                <ion-item>Item</ion-item>
                                <ion-item>Item</ion-item>
                                <ion-item>Item</ion-item>
                                <ion-item>Item</ion-item>
                            </ion-list>
                        </ion-content>
                    </div>
                </ion-slide>
                <ion-slide>
                    <h3>Games content {{dados}}</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Mail content {{dados2}}</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Car content {{dados3}}</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Profile content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Favourites content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Chats content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Settings content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Photos content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Pets content</h3>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>