<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goBack()"></button>
        <h1 class="title">Xinguara</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list card">

            <div class="item item-image logo-gradiente">
                <img src="../img/logo_xinguara.png">
            </div>

            <div class="item">
                <p><b>Bem-vindo ao aplicativo Frigorífico Xinguara</b></p>
            </div>
            
            <div class="item item-body">
                <p>
                    Agora você pode escolher suas carnes e receber direto em seu estabelecimento ou casa.
                    Fornecemos carnes em 2 tipos de embalagens, uma de 15kg e outra de 10kg no preço a kg.
                </p>
                <p>
                    Frete grátis para região de São Paulo.
                </p>
                <p>
                    Para mais informações acesse nosso site:
                    <a>http://www.frigorificoxinguara.com.br</a>
                </p>
                <p>
                    Telefones para contato:<br>
                    (xx) xxxxx-xxxx<br>
                    (xx) xxxxx-xxxx
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>