<ion-view view-title="Xinguara" name="createaccount-view">

    <ion-header-bar class="bar-positive">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goIndex()"></button>
        <h1 class="title">Criar Conta</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <button class="button button-block button-positive  icon-left ion-person" ng-click="doClickAbrirFormPF()">PESSOA FÍSICA</button>
        <p class="padding text-center">OU</p>
        <button class="button button-block button-positive  icon-left ion-person-stalker" ng-click="doClickAbrirFormPJ()">PESSOA JURÍDICA</button>
    </ion-content>
</ion-view>